{% extends "@layout/default.html.twig" %}

{% block title %}Meetups{% endblock %}

{% block content %}
    {% if session.isLoggedInUserOrganizer() %}
        <p><a href="{{ path("schedule_meetup") }}" class="btn btn-primary">Schedule meetup</a></p>
    {% endif %}

    <h1>Upcoming meetups</h1>

    <div class="upcoming-meetups">
    {% for meetup in upcomingMeetups %}
        <div class="card meetup">
            <div class="card-header">
                <h3 class="card-title mb-0">
                    <a href="{{ path("meetup_details", { 'id' : meetup.meetupId }) }}" class="name">{{ meetup.name }}</a>
                </h3>
            </div>
            <div class="card-body">
                <p>
                    {{ meetup.scheduledFor|date() }}
                    {% if session.isLoggedInUser(meetup.organizerId) %}
                        <span class="badge badge-success">Organized by you!</span>
                    {% endif %}
                </p>
                <a href="{{ path("meetup_details", { 'id' : meetup.meetupId }) }}" class="card-link btn btn-outline-primary read-more">Read more</a>
            </div>
        </div>
    {% else %}
        <p>No upcoming meetups</p>
    {% endfor %}
    </div>
{% endblock %}
