{% extends "@layout/default.html.twig" %}

{% block title %}{{ meetupDetails.name }}{% endblock %}

{% block content %}
    <h2>{{ meetupDetails.organizer.name }} presents: {{ meetupDetails.name }}</h2>

    <p class="meetup-scheduled-for"><small>{{ meetupDetails.scheduledFor|date() }}</small></p>
    <p>{{ meetupDetails.description }}</p>

    <h3>Attendees</h3>
    {% if meetupDetails.attendeeNames|length > 0 %}
        <ul class="attendees">
        {% for attendeeName in meetupDetails.attendeeNames %}
            <li>{{ attendeeName }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No attendees yet.</p>
    {% endif %}

    {% if session.isLoggedInUser(meetupDetails.organizer.organizerId) %}
        <form action="{{ path('cancel_meetup') }}" method="post">
            <input type="hidden" name="meetupId" value="{{ meetupDetails.meetupId }}">
            <button class="btn btn-danger">Cancel this meetup</button>
        </form>
        <a class="btn btn-warning mt-3" href="{{ path('reschedule_meetup', { id: meetupDetails.meetupId }) }}">Reschedule this meetup</a>
    {% else %}
        <form action="{{ path('rsvp_for_meetup') }}" method="post">
            <input type="hidden" name="meetupId" value="{{ meetupDetails.meetupId }}">
            <button class="btn btn-success">RSVP</button>
        </form>
    {% endif %}

{% endblock %}
