<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="{{ path('list_meetups') }}">
                <img src="/img/logo.png" alt="Bunchup logo" />
            </a>
        </div>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('list_meetups') }}" class="nav-link">List meetups</a>
                </li>
                {% if session.isLoggedInUserOrganizer %}
                    <li class="nav-item">
                        <a href="{{ path('schedule_meetup') }}" class="nav-link">Schedule a meetup</a>
                    </li>
                {% endif %}

                {% if session.isLoggedInUserAdmin %}
                    <li class="nav-item">
                        <a href="{{ path('list_organizers') }}" class="nav-link">Organizers <span class="badge badge-danger">Admin</span></a>
                    </li>
                {% endif %}

                {% if session.isUserLoggedIn() %}
                    <li class="nav-item">
                        <form class="form-inline" action="{{ path('logout') }}" method="post">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('sign_up') }}" class="nav-link">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Log in</a>
                    </li>
                {% endif %}
            </ul>
            <form class="form-inline" action="{{ path('switch_user') }}" method="post">
                <select name="userId" aria-label="User" class="form-control-sm mr-sm-2">
                    <option value="">Anonymous user</option>
                    {% for userId, userName in allUsers %}
                        <option value="{{ userId }}"{% if session.isLoggedInUser(userId) %} selected{% endif %}>{{ userName }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-sm btn-primary ml-2 m-lg-1">Switch</button>
            </form>
        </div>
    </div>
</nav>
