<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="{{ path('list_meetups') }}">
                <img src="/img/logo.png" alt="Bunchup logo" />
            </a>
        </div>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('list_meetups') }}" class="nav-link">List meetups</a>
                </li>
                {% if session.isUserLoggedIn() %}
                    <li class="nav-item">
                        <a href="{{ path('schedule_meetup') }}" class="nav-link">Schedule a meetup</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('list_organizers') }}" class="nav-link">Organizers <span class="badge badge-danger">Admin</span></a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" action="{{ path('logout') }}" method="post">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                {% endif %}
                {% if not session.isUserLoggedIn() %}
                    <li class="nav-item">
                        <a href="{{ path('sign_up') }}" class="nav-link">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Log in</a>
                    </li>
                {% endif %}
            </ul>
            {% if session.isUserLoggedIn() %}
                <span class="navbar-text">Logged in as: {{ session.username() }}</span>
            {% endif %}
        </div>
    </div>
</nav>
