<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %} - Bunchup; get together!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" />
    <style>
        body { padding-top: 140px; }
        .app { min-height: 100vh; }
        .app-footer { padding-bottom: 1em; }
        .navbar-brand img { height: 100px; }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <header class="app-header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand" href="{{ path('list_meetups') }}">
                        <img src="/img/logo.png" alt="Bunchup logo" />
                    </a>
                </div>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{{ path('list_meetups') }}" class="nav-link">List meetups</a>
                        </li>
                        {% if session.isUserLoggedIn() %}
                            <li class="nav-item">
                                <a href="{{ path('schedule_meetup') }}" class="nav-link">Schedule a meetup</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" action="{{ path('logout') }}" method="post">
                                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                                </form>
                            </li>
                        {% endif %}
                        {% if not session.isUserLoggedIn() %}
                            <li class="nav-item">
                                <a href="{{ path('sign_up') }}" class="nav-link">Sign up</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('login') }}" class="nav-link">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if session.isUserLoggedIn() %}
                        <span class="navbar-text">Logged in as: {{ session.username() }}</span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="app-content">
        <main class="container">
            {% include "@layout/_flashes.html.twig" %}

            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            <hr />
            {% block footer %}
                <p>
                    &copy; {{ "now"|date("Y") }}
                </p>
            {% endblock %}
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
